[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Rider
Icon=/mnt/all_files/soft/JetBrainsRider/bin/rider.svg
Exec="/mnt/all_files/soft/JetBrainsRider/bin/rider.sh" %f
Comment=A cross-platform IDE for .NET
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rider
